html {
  font-size: 62.5%;
}

html,
body {
  box-sizing: border-box;
  height: 100%;
}

body {
  font-family: $font-arial;
  font-size: 1.6rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
