@import "../../assets/styles/utilities/variables";
@import "../../assets/styles/utilities/mixins";

.footer {
  @include retina-js("../../assets/images/1-sm.png", 1, auto auto, -720px 4px no-repeat transparent);
  bottom: 0;
  height: 90px;
  width: 100%;
  position: absolute;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

  @media (min-width: 768px) {
    @include retina-js("../../assets/images/1-md.png", 1, auto auto, -1581px 0px no-repeat transparent);
    height: 127px;
  }

  @media (min-width: 1080px) {
    @include retina-js("../../assets/images/1-hd.png", 1, auto auto, -2300px 0 no-repeat transparent);
    height: 215px;
  }

  a {
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    color: $white;
    text-decoration: underline;
    text-transform: capitalize;

    @media (min-width: 768px) {
      font-size: 22px;
    }

    @media (min-width: 1080px) {
      font-size: 40px;
    }
  }
}
