.popover {
  margin: 0;
  width: 130.4px;
  border-radius: 5.9px;
  background-color: $white;
  box-shadow: 0 2px 23px 0 rgba(0, 0, 0, 0.1);
  padding: 15px;
  border: none;
  max-width: 280px;
  width: 100%;

  &-right {
    transform: translate(-20px, 52%);
  }

  &-left {
    transform: translate(29px, 52%);
  }

  &-bottom.popover-bottom {
    margin-top: -3px;
  }


  @media (min-width: 768px) {

  }

  @media (min-width: 1080px) {
    border-radius: 20px;
    background-color: $white;
    box-shadow: 0 8px 76px 0 rgba(0, 0, 0, 0.1);
    max-width: 440px;
    width: 100%;
    padding: 47px;
  }

  &:before,
  &::after {
    border: none;
  }

  &-title {
    background-color: $white;
    border-bottom: none;
    font-size: 18px;
    font-weight: bold;
    padding: 0;
    color: rgb(255, 103, 3);
    margin-bottom: 10px;

    @media (min-width: 768px) {

    }

    @media (min-width: 1080px) {
      font-size: 33px;
      font-weight: bold;
      color: rgb(255, 103, 3);
      margin-bottom: 30px;
    }
  }

  &-content {
    padding: 0;
    font-family: $font-arial;
    font-size: 16px;
    line-height: 1.38;
    color: $warm-grey;

    @media (min-width: 768px) {

    }

    @media (min-width: 1080px) {
      font-size: 26px;
      color: $warm-grey;
    }
  }
}
