.select {
  display: flex;
  flex-direction: row;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0 2px 23px 0 rgba(0, 0, 0, 0.1);
  position: relative;

  @media (min-width: 768px) {

  }

  @media (min-width: 1080px) {
    border-radius: 20px;
  }

  &__item {
    width: 100%;
    display: block;
    height: 52px;
    font-size: 16px;
    color: $brown-grey;
    line-height: 1.42857143;
    background-color: #fff;
    background-image: none;
    border: none;
    appearance: none;
    padding: 0 52px 0 20px;

    @media (min-width: 768px) {

    }

    @media (min-width: 1080px) {
      height: 174px;
      border-radius: 20px;
      background-color: $white;
      box-shadow: 0 8px 76px 0 rgba(0, 0, 0, 0.1);
      font-size: 40px;
      padding: 0 174px 0 71px;
    }

    &:focus {
      outline: none;
    }
  }

  &__addon {
    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to right, #ef451f, #fcdd57);
    width: 52px;
    pointer-events: none;
    position: absolute;
    right: 0;
    height: 52px;

    @media (min-width: 768px) {

    }

    @media (min-width: 1080px) {
      height: 174px;
      width: 174px;
    }

    img {

      @media (min-width: 768px) {

      }

      @media (min-width: 1080px) {
        width: 54.6px;
      }
    }
  }
}
