@import "../../assets/styles/utilities/variables";
@import "../../assets/styles/utilities/mixins";

.page-bg {
  position: absolute;
  left: 0px;
  top: -396px;
  width: 532px;
  height: 457px;
}

.main-wrapper__container {
  width: 100%;
  height: 100%;
}

.game {
  position: relative;
  overflow: hidden;
  height: 100%;
}

.container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 6.2rem 0 0 0;
}

* {
  font-family: 'Arial';
}

.logo {
  padding: 15px 0 0 0;
  margin: 0 auto;
  width: 52px;
  position: relative;
  z-index: 20;
}

.life {
  &__list {
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    position: absolute;
    left: 15px;
    top: 15px;
    li {
      margin-right: 9px;
      img {
        width: 24px;
      }
    }
  }
  &__lost {
    opacity: 0.2;
  }
}

.score {
  box-shadow: 0px 8px 76px 0px rgba(0, 0, 0, 0.1);
  position: relative;
  background-color: #FFF;
  z-index: 150;
  border-radius: 3px;
  width: 85%;
  border-radius: 3px;
  margin: 1.1rem auto 4.2rem auto;
  &__title {
    font-size: 1.6rem;
    font-weight: bold;
    color: #FFF;
    margin: 0;
    padding: 9px 0;
    text-align: center;
    background-image: linear-gradient(60deg, rgb(239, 69, 31) 0%, rgb(252, 221, 87) 100%);
    border-radius: 3px 3px 0 0;
  }
  &__description {
    font-size: 38px;
    color: rgb(238, 104, 0);
    background-image: linear-gradient(0,#ef451f,#fcdd57),linear-gradient(#f05926,#f05926);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 8px 0;
    text-align: center;
    margin: 0;
  }
}

.taddy {
  position: relative;
  z-index: 100;
  text-align: center;
  width: 48%;
  margin: 0 auto;
  &__head {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 60%;
  }
  &__body {
    position: absolute;
    top: 60%;
    width: 80%;
    height: 20%;
    left: 50%;
    transform: translateX(-50%);
  }
  &__legs {
    position: absolute;
    top: 80%;
    height: 19%;
    width: 66%;
    left: 55%;
    transform: translateX(-50%);
  }
  &__health {
    transition: all .4s;
  }
  &__hurt {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: all .4s;
    opacity: 0;
  }
  &:before {
    content: "";
    background-color: #000;
    opacity: 0.1;
    width: 136px;
    height: 25px;
    position: absolute;
    bottom: -10px;
    left: 53%;
    transform: translateX(-50%);
    border-radius: 50%;
    z-index: -1;
  }
}

.taddy_action {
  .taddy_health {
    opacity: 0;
  }
  .taddy__hurt {
    opacity: 1;
  }
}

.decorations {
  &__tree {
    position: absolute;
    width: 76%;
    right: -61%;
    top: 23%;
  }
  &__branch {
    position: absolute;
    width: 66%;
    left: -49%;
    top: 51%;
    z-index: 20;
  }
  &__sandbox {
    position: absolute;
    width: 33%;
    right: -20%;
    top: 60%;
    transform: scale(-1, 1);
    filter: FlipH;
    z-index: 20;
  }
  &__grass {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
  }
  &__swing {
    top: 48%;
    right: -25%;
    width: 62%;
    position: absolute;
    z-index: 10;
  }
  &__cloud {
    position: absolute;
    left: -9999px;
  }
}

#viruses {
  list-style: none;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

button {
  position: absolute;
  bottom: 0;
  display: none;
}

@media (min-width: $sm-breakpoint) and (max-width: $md-breakpoint) and (min-width: 1040px) {
  .score {
    width: 40%;
    margin: 11rem auto 4.2rem auto;
    font-size: 2rem;
    &__title {
      font-size: 2rem;
      padding: 1.2rem 0;
    }
    &__description {
      font-size: 5.2rem;
      padding: 2rem;
    }
  }
  .taddy {
    position: absolute;
    left: 50%;
    top: 42%;
    width: 36%;
    transform: translateX(-50%);
  }
  .life {
    &__list {
      left: 5%;
      top: 3.2%;
      margin-right: 15px;
      li {
        img {
          width: 40px;
        }
      }
    }
  }
  .decorations {
    &__branch {
      width: 42%;
      left: -29%;
      top: 63%;
    }
    &__grass {
      bottom: -22%;
    }
    &__sandbox {
      width: 37%;
      right: -21%;
      top: 68%;
    }
    &__swing {
      display: none;
    }
    &__tree {
      width: 57%;
      right: -44%;
      top: 23%;
    }
  }
  .back-page {
    display: inline-block;
    color: #FFF;
    background: none;
    border: none;
    text-align: center;
    text-decoration: underline;
    position: absolute;
    top: auto;
    left: auto;
    font-weight: normal;
    z-index: 20;
    left: 50%;
    transform: translateX(-50%);
    width: auto;
    padding: 0;
    font-size: 2.2rem;
    bottom: 3.5%;
  }
}
