@import "../../assets/styles/utilities/variables";
@import "../../assets/styles/utilities/mixins";

* {
  font-family: 'Arial';
}

header {
  z-index: 20;
}

.start-game {
  position: relative;
  overflow: hidden;
  height: 100%;
}

.page {
  padding-top: 9rem;
}

.page-bg {
  position: absolute;
  left: 0px;
  top: -396px;
  width: 532px;
  height: 457px;
}

.container {
  width: 100%;
  height: 100%;
}

.logo {
  padding: 15px 0 31px 0;
  margin: 0 auto;
  width: 52px;
  position: relative;
  z-index: 20;
}

h1 {
  position: absolute;
  left: 52%;
  font-family: $font-sugarstyle-millenial;
  font-size: 9.2rem;
  color: rgb(240, 89, 38);
  opacity: 0.1;
  transform: translateX(-50%) rotate(-8deg);
  margin: 0;
  top: 7rem;
  font-weight: lighter;
}

.page-title {
  font-weight: bold;
  color: rgb(240, 89, 38);
  background-image: linear-gradient(0,#ef451f,#fcdd57),linear-gradient(#f05926,#f05926);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  font-size: 6.2rem;
  margin: 0;
  padding: 0;
}

.page-description {
  color: #9d9d9d;
  text-align: center;
  font-size: 1.6rem;
  line-height: 2.2rem;
  margin: 2.2rem 0 2.2rem 0;
  padding: 0 2rem;
  strong {
    color: #F1642A;
    font-weight: bold;
  }
}

.taddy {
  margin: 0 auto;
  width: 55%;
  left: 49%;
  top: 38%;
  transform: translateX(-50%);
  position: absolute;
  z-index: 20;
  &:before {
    content: "";
    background-color: #000;
    opacity: 0.1;
    width: 164px;
    height: 28px;
    position: absolute;
    bottom: -10px;
    left: 53%;
    transform: translateX(-50%);
    border-radius: 50%;
    z-index: -1;
  }
}

.button {
  background-image: linear-gradient(-58deg, rgb(239, 69, 31) -70%, rgb(252, 221, 87) 100%);
  position: absolute;
  border: none;
  border-radius: 5px;
  transform: rotate(10deg);
  font-size: 2rem;
  font-weight: bold;
  color: #FFF;
  width: 124%;
  left: -11%;
  top: 49%;
  height: 18%;
  cursor: pointer;
  outline: none;
}

.back-page {
  font-size: 1.6rem;
  color: #FFF;
  background: none;
  border: none;
  text-align: center;
  text-decoration: underline;
  position: absolute;
  top: auto;
  left: auto;
  font-weight: normal;
  bottom: 2.5%;
  z-index: 20;
  left: 50%;
  transform: translateX(-50%);
  width: auto;
  padding: 0;
}

.decorations {
  &__tree {
    position: absolute;
    width: 76%;
    right: -61%;
    top: 23%;
  }
  &__branch {
    position: absolute;
    width: 70%;
    left: -56%;
    top: 61%;
    z-index: 20;
  }
  &__sandbox {
    position: absolute;
    width: 50%;
    right: -30%;
    top: 71%;
    transform: scale(-1, 1);
    filter: FlipH;
    z-index: 20;
  }
  &__grass {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
  }
}

@media (min-width: $sm-breakpoint) and (max-width: $md-breakpoint) {
  .page {
    padding-top: 16.4rem;
  }
  h1 {
    font-size: 17.5rem;
    transform: translateX(-50%) rotate(-14deg);
    top: 12rem;
    left: 50%;
  }
  .page-title {
    font-size: 10.4rem;
  }
  .page-description {
    line-height: 2.6rem;
    font-size: 2.4rem;
    margin: 5rem 0 2.2rem 0;
    padding: 0 28%;
  }
  .taddy {
    width: 37%;
    left: 50%;
    top: 41%;
    &:before {
      bottom: -1rem;
      left: 56%;
      width: 89%;
      height: 9%;
    }
  }
  .button {
    font-size: 3.2rem;
    width: 118%;
    left: -7%;
    top: 48%;
    height: 17%;
    border-radius: 1.2rem;
  }
  .decorations {
    &__branch {
      width: 45%;
      left: -32%;
      top: 63%;
    }
    &__grass {
      bottom: -2.5rem;
    }
    &__tree {
      width: 63%;
      right: -49%;
      top: 21%;
    }
    &__sandbox {
      width: 35%;
      right: -20%;
      top: 68%;
    }
  }
  .back-page {
    font-size: 2.2rem;
    bottom: 3.5%;
  }
}

@media (min-height: $xl-breakpoint) {
  .page {
    padding-top: 30.4rem;
  }
  h1 {
    font-size: 28.2rem;
    top: 14%;
  }
  .page-title {
    font-size: 20rem;
  }
  .page-description {
    font-size: 4rem;
    line-height: 5rem;
    margin: 4% 0 0 0;
    padding: 0 21%;
  }
  .taddy {
    &:before {
      width: 89%;
      height: 11%;
      border: -49px;
      left: 56%;
    }
  }
  .decorations {
    &__tree {
      width: 76%;
      right: -59%;
      top: 18%;
    }
  }
  .button {
    border-radius: 15px;
    font-size: 5.4rem;
  }
  .back-page {
    font-size: 4rem;
    bottom: 2.8%;
  }
}
