<div class="home-screen">
  <div class="home-screen__header">
    <app-header></app-header>
  </div>


  <div class="home-screen__logo">
    <div class="main-logo">
      <div class="main-logo__text">
        #feelbetter
      </div>

      <div class="main-logo__substrate">
        #feelbetter
      </div>
    </div>
  </div>

  <div class="home-screen__btn-area">
    <button [routerLink]="['/anatomia-chorob']" class="btn">
      <img src="../../assets/images/anatomia.svg"
           class="anatomy">
      <span>Anatomia chorôb</span>
    </button>
    <button [routerLink]="['/kalendar-ockovania']" class="btn">
      <img src="../../assets/images/kalendar.svg"
           class="calendar">
      <span>Kalendár očkovania</span>
    </button>
    <button [routerLink]="['/ochran-macika']" class="btn">
      <img src="../../assets/images/ochran.svg"
           class="ochran">
      <span>Ochráň macíka (hra)</span>
    </button>
  </div>

  <footer class="home-screen__footer">
    <div class="footer">
      <div class="footer__item">SK/VGU/0004/17b</div>
      <div class="footer__item">Dátum prípravy: Júl 2017</div>
    </div>
  </footer>
</div>

