@import "../../assets/styles/utilities/variables";
@import "../../assets/styles/utilities/mixins";

.home-screen {
  position: relative;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;

  /deep/ .header {
    position: fixed;
  }

  &__logo {
    padding-top: 85px;
    text-align: center;
    margin-bottom: 45px;

    @media (min-width: 768px) {
      padding-top: 223px;
      margin-bottom: 90px;
    }


    @media (min-width: 1079px) {
      padding-top: 376px;
    }
  }

  .main-logo {
    position: relative;

    &__text,
    &__substrate {
      animation: none;
      width: 100%;
      font-size: 80px;

      @media (min-width: 768px) {
        font-size: 160px;
      }

      @media (min-width: 1079px) {
        font-size: 280px;
        left: 0;
        position: relative;
      }
    }

    &__substrate {
      position: absolute;
      opacity: .1;
      animation: none;
      font-size: 105px;
      left: 5%;

      @media (min-width: 768px) {
        top: -14%;
        font-size: 220px;
        left: 2%;
      }

      @media (min-width: 1079px) {
        top: -15%;
        font-size: 370px;
        left: 2%;
      }
    }
  }

  &__btn-area {
    padding: 0 3.5rem 90px;

    @media (min-width: 768px) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    @media (min-width: 1079px) {
      margin-top: 180px;
      padding: 0 110px;
    }

    .btn {
      display: flex;
      align-items: center;
      width: 100%;
      margin-bottom: 17px;

      overflow:hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      @media (min-width: 768px) {
        box-shadow: 0 2px 23px 0 rgba(0, 0, 0, 0.1);
        font-size: 20px;
        width: 373px;
      }

      @media (min-width: 1079px) {
        height: 174px;
        font-size: 40px;
        font-weight: bold;
        color: $brown-grey;
        border-radius: 20px;
        background-color: $white;
        box-shadow: 0 8px 76px 0 rgba(0, 0, 0, 0.1);
        margin-bottom: 50px;
        padding: 0 70px;
        width: 100%;
      }
    }

    img {
      margin-right: 20px;

      @media (min-width: 768px) {
      }

      @media (min-width: 1079px) {
        margin-right: 65px;
        width: 66px;
      }
    }
  }

  &__footer {
    @include retina-js("../../assets/images/1-sm.png", 1, auto auto, -720px 4px no-repeat transparent);
    position: fixed;
    bottom: 0;
    height: 90px;
    left: 0;
    right: 0;

    @media (min-width: 768px) {
      @include retina-js("../../assets/images/1-md.png", 1, auto auto, -1661px 0px no-repeat transparent);
      height: 127px;
    }

    @media (min-width: 1079px) {
      @include retina-js("../../assets/images/1-hd.png", 1, auto auto, -2530px -1px no-repeat transparent);
      height: 307px;
    }
  }
}

.footer {
  padding: 0 20px;
  margin-top: 49px;

  @media (min-width: 768px) {
    margin-top: 73px;
  }

  @media (min-width: 1079px) {
    display: none;
  }

  &__item {
    font-size: 12px;
    color: $white;

    @media (min-width: 768px) {
      font-size: 14px;
      line-height: 1.36;
      color: $white;
    }
  }
}
