<div class="calendar">
  <app-header></app-header>

  <div class="heading">
    <div class="heading__text">
      Očkovací kalendár
    </div>

    <div class="heading__substrate">
      #feelbetter
    </div>
  </div>

  <p class="calendar__description">
    Pozrite si zoznam očkovaní, ktoré by ste vy alebo vaše dieťa mali tento rok
    absolvovať.
  </p>
  <form action="" class="calendar__form">
    <div class="calendar__select">
      <div class="select">
        <!--<select name="" id="" class="select__item" *ngFor="let year of years ">-->
          <!--<option value="1991">{{year}}</option>-->
        <!--</select>-->
        <select class="select__item">
          <option *ngFor="let year of years" [selected]="fullyear">{{year}}</option>
        </select>
        <span class="select__addon">
        <img src="../../assets/images/arrow.svg"
             class="arrow">
      </span>
      </div>
    </div>

    <div class="calendar__btn">
      <button class="btn btn--gradient" type="submit" (click)="$event.preventDefault()">
        Pokračovať
      </button>
    </div>
  </form>


  <app-footer></app-footer>
</div>
