@import "../../assets/styles/utilities/variables";

.heading {
  padding-top: 102px;
  margin-bottom: 71px;

  @media (min-width: 768px) {
    padding-top: 200px;
    margin-bottom: 90px;
  }

  @media (min-width: 1080px) {
    padding-top: 404px;
    margin-bottom: 120px;
  }

  &__text {
    @media (min-width: 1080px) {
      font-size: 80px;
    }
  }

}

.calendar {

  &__form {
    padding: 0 43px;

    @media (max-width: 768px) {
      max-width: 329px;
      margin: 0 auto;
    }

    @media (min-width: 768px) {
      max-width: 790px;
      margin: 0 auto;
    }

  }

  &__description {
    font-size: 16px;
    line-height: 1.38;
    text-align: center;
    color: $warm-grey;
    padding: 0 28px;

    @media (min-width: 768px) {
      font-size: 20px;
      line-height: 1.3;
      text-align: center;
      max-width: 450px;
      margin: 0 auto;
    }

    @media (min-width: 1080px) {
      font-size: 30px;
      max-width: 630px;
      margin: 0 auto;
    }
  }

  &__select {
    margin-top: 36px;
    margin-bottom: 24px;

    @media (min-width: 768px) {
      margin-top: 90px;
    }

    @media (min-width: 1080px) {
      margin-top: 90px;
      margin-bottom: 80px;
    }
  }

  .btn {
    width: 100%;

    @media (min-width: 768px) {

    }

    @media (min-width: 1080px) {
      background-image: linear-gradient(to right, rgb(239, 69, 31), rgb(252, 221, 87));
      border-radius: 20px;
      height: 174px;
      font-size: 40px;
      font-weight: bold;
      text-align: center;
      color: $white-two;
    }
  }

  &__calendar {
    overflow-X: hidden;
    overflow-Y: scroll;
    height: calc(568px - 279px);

    @media (min-width: 768px) {
      height: calc(1024px - 394px);
    }

    @media (min-width: 1080px) {
      height: calc(1920px - 843px);
    }
  }

  /deep/ .footer {
    z-index: 2;
    background-size: 100%;
    background-position: -73px 30px;

    @media (min-width: 768px) {
      background-position: -138px 32px;
    }

  }

}

// TODO: refactor it from main project
#calendar {
  $main-header-h: 700px;
  $white: #fff;
  $grey: #626465;
  $black: #000;
  $semiblack: rgba($black, 0.3);
  $semiwhite: rgba($white, 0.8);
  $orange: #f2732f;
  $blue: #00aeef;
  $pink: #f493ad;
  $green: #3c7e73;
  $green2: #10b0c9;
  $lightbluegreen: #81cbd4;
  $brightgreen: #95c11f;
  $orange-light: #fabe34;
  $orange-dark: #ed4c2e;

  span {

    &.orange {
      color: $orange;
    }
  }

  ul {
    padding: 0;
    margin: 0;
    position: relative;
    list-style: none;

    &:before {
      content: " ";
      position: absolute;
      width: 1px;
      background-color: $orange;
      height: 100%;
      left: 50%;
      top: 0;
      z-index: 1;

      @media (min-width: 1080px) {
        background-color: #b2b2b2;
      }

    }

    &.main {
      margin-bottom: 140px;

      @media (min-width: 768px) {

      }

      @media (min-width: 1080px) {
        margin-bottom: 300px;
      }
    }

    li {
      position: relative;
      z-index: 2;
      padding: 0;
      margin: 0;
      margin-top: 40px;
      margin-bottom: 40px;

      &:first-child {
        margin-top: 6px;

        @media (min-width: 768px) {
          margin-top: 45px;
        }

      }

      header {
        background-color: $blue;
        color: $white;
        width: 90px;
        height: 90px;
        font-weight: bold;
        margin-left: auto;
        margin-right: auto;
        border-radius: 50%;
        font-size: 24px;
        line-height: 90px;
        position: relative;
        text-align: center;
        z-index: 2;

        &.orange {
          background: $orange;
          background: -moz-linear-gradient(45deg, $orange-dark 0%, $orange-light 100%); /* FF3.6-15 */
          background: -webkit-linear-gradient(45deg, $orange-dark 0%, $orange-light 100%); /* Chrome10-25,Safari5.1-6 */
          background: linear-gradient(45deg, $orange-dark 0%, $orange-light 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        }

        @media (min-width: 768px) {
          width: 122px;
          height: 122px;
          line-height: 122px;
        }

        @media (min-width: 1080px) {
          width: 200px;
          height: 200px;
          line-height: 200px;
          font-size: 48px;
        }

      }

      article {
        width: 33.3%;
        text-align: right;
        padding-left: 20px;
        padding-right: 20px;
        position: absolute;
        left: 0px;
        top: 60px;
        z-index: 1;

        @media (min-width: 1080px) {
          border-right: none;
          font-size: 24px;
          color: #84786F;
          font-weight: normal;
        }

        &:before {
          content: " ";
          height: 1px;
          width: 50%;
          position: absolute;
          background-color: $orange;
          right: -50%;
          z-index: 1;

          @media (min-width: 1080px) {
            background-color: #84786F;
          }
        }

        &.ar {
          left: inherit;
          right: 0px;
          text-align: left;

          &:before {
            right: inherit;
            left: -50%;
          }
        }
      }
    }

    &.calbox {
      margin-top: 43px;
      margin-bottom: 40px;

      @media (min-width: 768px) {
        margin-top: 38px;
      }

      @media (min-width: 1080px) {
        margin-top: 65px;
      }

      li {
        display: flex;
        margin-top: 0px;
        margin-bottom: 0px;

        &:first-child {
          @media (min-width: 768px) {
            .br {
              padding-top: 0;
            }
          }
        }

        div {
          padding-top: 20px;
          padding-bottom: 20px;
          width: 33.3%;
          position: relative;
          z-index: 1;
          text-align: center;
          font-size: 14px;
          line-height: 1.43;

@media (min-width: 1080px) {
  font-size: 24px;
  span {
    color: #84786f;
  }
}

          strong {
            font-weight: bold;
          }

          &:last-of-type {
            text-align: left;
            padding-left: 10px;
          }

          &:first-of-type {
            text-align: right;
            padding-right: 12px;
          }

          &.br {
            border-right: 1px solid $orange;

            @media (min-width: 1080px) {
              border-color: #b2b2b2;
              font-size: 24px;
              color: #84786F;
              font-weight: normal;
            }

          }

          &.bl {
            border-left: 1px solid $orange;
            @media (min-width: 1080px) {
              border-color: #b2b2b2;
            }
          }

          &.bt {
            border-top: 1px solid $orange;

            @media (min-width: 1080px) {
              border-color: #b2b2b2;
            }

          }

          &.bb {
            border-bottom: 1px solid $orange;
            @media (min-width: 1080px) {
              border-color: #b2b2b2;
            }
          }

          &.pt {

            &:before {
              z-index: 2;
              content: " ";
              background-color: $blue;
              width: 20px;
              height: 20px;
              border-radius: 50%;
              display: block;
              margin-right: auto;
              margin-left: auto;
              top: -30px;
              position: relative;
            }

            &.bb {

              &:before {
                top: inherit;
                bottom: -110px;

                @media (min-width: 768px) {
                  bottom: -49px;
                }

@media (min-width: 1080px) {
  bottom: -76px;
}

              }
            }
          }
        }
      }
    }
  }
}
