@import "../../assets/styles/utilities/variables";
@import "../../assets/styles/utilities/mixins";

.splash-screen {
  position: relative;
  height: 100%;
  overflow: hidden;

  &__logo-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    z-index: 1;
  }

  &__heading {
    text-align: center;
    transform: rotate(-13.2deg) translateY(-50%);
    position: absolute;
    top: 50%;

    img {
      width: 130%;
    }
  }

  &__btn-area {
    @include retina-js("../../assets/images/1.png", 1, auto auto, -330px 4px no-repeat transparent);
    position: absolute;
    bottom: 0;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;


    img {
      width: 40px;
    }
  }

  h1 {
    font-family: $font-sugarstyle-millenial;
    font-size: 300px;
    background: $red-yellow-gradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: $cinnabar;
    margin: 0;
  }
}
