<div class="splash-screen">

  <app-header></app-header>


  <div class="splash-screen__heading">

    <div class="main-logo">
      <div class="main-logo__text">
        #feelbetter
      </div>

      <div class="main-logo__substrate">
        #feelbetter
      </div>
    </div>
  </div>

  <div class="splash-screen__btn-area">
    <a href="#" [routerLink]="['/menu']">
      <img src="../../assets/images/hand.png"
           srcset="../../assets/images/hand@2x.png 2x,
           ../../assets/images/hand@3x.png 3x"
           class="hand">
    </a>

    <div class="splash-screen__description">
      Klikni na obrazovku
    </div>
  </div>
</div>
