@import "../../assets/styles/utilities/variables";
@import "../../assets/styles/utilities/mixins";

.splash-screen {
  position: relative;
  height: 100%;
  overflow: hidden;

  &__logo-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    z-index: 1;
  }

  &__heading {
    text-align: center;
    transform: translate(-50%, -50%);
    position: absolute;
    left: 49%;
    top: 42%;

  @media (min-width: 768px) {
    left: 42%;
  }

@media (min-width: 1079px) {
  left: 42%;
}

    img {
      width: 130%;
    }
  }

  &__btn-area {
    @include retina-js("../../assets/images/1-sm.png", 1, auto auto, -720px 0 no-repeat transparent);
    position: absolute;
    bottom: 0;
    height: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 30px;

    @media (min-width: 768px) {
      @include retina-js("../../assets/images/1-md.png", 1, auto auto, -1650px 0 no-repeat transparent);
      height: 220px;
      padding-top: 80px;
    }

    @media (min-width: 1079px) {
      @include retina-js("../../assets/images/1-hd.png", 1, auto auto, -2330px 0 no-repeat transparent);
      height: 383px;
      padding-top: 133px;
    }

    img {
      width: 40px;

      @media (min-width: 768px) {
        width: 60px;
      }

      @media (min-width: 1079px) {
        width: 80px;
      }
    }
  }

  &__description {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: $white;

    @media (min-width: 768px) {
      font-size: 35px;
    }

    @media (min-width: 1079px) {
      margin-top: 46px;
    }
  }

  h1 {
    font-family: $font-sugarstyle-millenial;
    font-size: 13rem;
    background: $red-yellow-gradient;
    background-position: 0 center;
    background-size: 200% auto;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: $cinnabar;
    margin: 0;
    animation: shine 1s linear infinite;
  }
  h2 {

  }
}
