<div class="splash-screen">

  <app-header></app-header>


  <div class="splash-screen__heading">
    <img src="../../assets/images/hash-logo.png"
         srcset="../../assets/images/hash-logo@2x.png 2x,
					 ../../assets/images/hash-logo@3x.png 3x"
         class="hash-logo">
  </div>

  <div class="splash-screen__btn-area">
    <a href="#" [routerLink]="['/menu']">
      <img src="../../assets/images/hand.png"
           srcset="../../assets/images/hand@2x.png 2x,
					 ../../assets/images/hand@3x.png 3x"
           class="hand">
    </a>
  </div>
</div>

