@import "../assets/styles/utilities/variables";

.main-wrapper {
  height: 100%;

  &__container {
    height: 100%;
    overflow: hidden;

    @media (min-width: 1080px) {
      min-height: 1920px;
    }
  }
}
