<div class="start-game">
	<div class="container">
		<div class="logo">
			<img src="assets/images/logo.svg" alt="Logo svg">
		</div>

		<div class="page">
		<h1>#feelbetter</h1>
			<h2 class="page-title">Ochráň macíka</h2>

			<p class="page-description"><strong>Klikaj na vírusy</strong> a ochráň macíka pred chorobami.</p>
		</div>

		<div class="taddy">
			<img src="assets/images/taddy.svg" alt="Taddy take">
			<button [routerLink]="['/ochran-macika/game']">ŠTART</button>
		</div>

		<div class="decorations">
			<img class="decorations__tree" src="assets/images/tree.svg" alt="Tree" />
			<img class="decorations__branch" src="assets/images/branch.svg" alt="Branch" />
			<img class="decorations__sandbox" src="assets/images/sandbox.svg" alt="Sandbox" />
			<img class="decorations__grass" src="assets/images/grass.png" alt="Grass" />
		</div>

	</div>
</div>
