<div class="container">
	<div class="logo">
		<img src="assets/images/logo.svg" alt="Logo svg">
	</div>

	<h2 class="page-title">Ochráň macíka</h2>

	<p class="page-description"><strong>Klikaj na vírusy</strong> a ochráň macíka pred chorobami.</p>

	<div class="taddy">
		<img src="assets/images/taddy-take.svg" alt="Taddy take">
		<button [routerLink]="['/ochran-macika/game']">Start</button>
	</div>

<div class="decorations">
	<img class="tree" src="assets/images/tree.svg" alt="Tree" />
	<img class="branch" src="assets/images/branch.svg" alt="Branch" />
	<img class="sandbox" src="assets/images/bg.png" alt="Background" />
	<img class="grass" src="assets/images/grass.png" alt="Grass" />
</div>

</div>
