//**********************************************
//  Fonts
//**********************************************

$font-sugarstyle-millenial: 'Sugarstyle-Millenial', sans-serif;
$font-arial: 'Arial', sans-serif;


//**********************************************
//  Colors
//**********************************************

$black: #000;
$white: #fff;
$brown-grey: #84786f;
$tomato: #f05926;
$warm-grey: #9d9d9d;
$greyish-10: #b6ada419;
$white: #ffffff;
$white-two: #fbfbfb;
$dusty-orange: #f2732f;
$slate-grey: #626465;
$azure: #1ea9ef;
$black: #000000;
$azure-two: #00aeef;
$cinnabar: #ef451f;
$dandelion: #fcdd57;
$red-yellow-gradient:linear-gradient(60deg, $cinnabar 0%, $dandelion 100%);
